bin/
_dist/
_scratch/
vendor/
coverage.txt
*.exe
*.tar.gz
examples/**/Dockerfile
examples/**/chart/
examples/**/draft.toml
examples/**/.draftignore
examples/typescript/node_modules
examples/typescript/dist
