{erl_opts, [debug_info]}.
{deps, [elli]}.

{relx, [{release, { draft_example, "0.1.0" },
         [draft_example,
          sasl]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles,
 [{prod, [{relx, [{vm_args, "./config/vm_prod.args"},
                  {dev_mode, false},
                  {include_erts, true}]}]
  }]
}.
